.desktop {
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
    /* display: flex;    NOTE: flex needs to be removed here for folderLayout and justify-content to work  */
}

.folderExternal {
    display: flex;
    flex-direction: column;
    
}

.folderExternal p {
    width: 85px;
    
    display: flex;

    text-align: center;
    justify-content: center;

    margin: 0;
    
    text-wrap: pretty;
}

.folder {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* padding-right: 10px; */
}

.folderResize {
    width: 85px;
    height: auto;
}

.folderLayout {
    display: flex;
    justify-content: start;
    width: 40%;
    flex-wrap: wrap;
    
}

.testBox {
    display: flex;
    width: 50%;
    height: 60vh;
    z-index: 10;

    position: fixed;
    left: 40vw;
    top: 10vh;

    background: red;

    box-sizing: border-box;
    border-style: solid;
    border-width: 10px;
    border: blue;

}

