.desktop {
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
    /* display: flex;    NOTE: flex needs to be removed here for folderLayout and justify-content to work  */
}

.folderExternal {
    display: flex;
    flex-direction: column;

}

.folderExternal p {
    width: 85px;
    
    display: flex;

    text-align: center;
    justify-content: center;

    margin: 0;
    
    text-wrap: pretty;
}

.folder {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 2px;
}

.folderResize {
    width: 85px;
    height: auto;
}

.folderLayout {
    display: flex;
    justify-content: start;
    width: 40%;
    flex-wrap: wrap;
    padding-left: 5px;
}

.windowPos {
    width: 50%;
    height: 60vh;

    left: 40vw;
    top: 10vh;

    position: fixed;   
}

.windowBox {
    display: flex;
    width: 50%;
    height: 60vh;
    z-index: 10;

    position: fixed;
    left: 40vw;
    top: 10vh; 

    background: linear-gradient(#ffeba3 , #ffe68e);

    box-sizing: border-box;

    border: 7px solid rgb(0, 76, 255);
    
    border-top: 25px solid rgb(0, 76, 255);
    border-radius: 5px;
    
}

.windowTitle {
    position: absolute;
    display: flex;
    flex-direction: row;

    z-index: 11;

    height: 25px;
    width: 100%;
}

.projectTitle { 
    /* # TODO MAKE TEXT SMALLER SLIGHTLY */
    position: relative;
    top: 3px;
    left: 5px;
    
    width: auto;
    
    margin: 0;
}

.closeButton {
    margin-left: auto;

    width: 10%;
    height: 100%;
    
    background-color: rgb(255, 0, 0);
    border-style: groove;
}

.closeButton:hover {
    margin-left: auto;

    width: 10%;
    height: 100%;
    
    background-color: rgb(211, 0, 0);
}